{% extends 'base.html' %}
{% block title %} User {% endblock %}
{% block nav_item_user %} active {% endblock %}
{% block content %}

<div class="container-fluid">
<div class="row">

    <div class="col">
        <div class="small-box bg-primary">
            <div class="inner">
              <h3>Find <br>Fingerprint</h3>
              <p></p>
            </div>
            <div class="icon">
              <i class="ion ion-search text-light"></i>
            </div>
            <a href="/find" class="small-box-footer" data-toggle="modal" data-target="#modalfind">Find <i class="fas fa-arrow-circle-right"></i></a>
          </div>
    </div><br>
    <div id="modalfind" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title-center">Letakkan jari pada sensor fingerprint</h4>
                                </div>
                                <div class="modal-body">
                                    <center>
                                    <img src="../static/dist/img/fingerprint.png" width="50%" height="50%">
                                    <h2>Find Fingerprint</h2>
                                    <p>{% for mesg in get_flashed_messages() %}
                                    <h4>{{ mesg }}</h4>
                                    {% endfor %}</p>
                                        </center>
                                    <div class="modal-footer">
                                    <form action="/find">
                                    <button type="submit" class="btn btn-primary">Scan Now</button>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                       </div>
  <div class="col">
    <div class="small-box bg-primary">
        <div class="inner">
          <h3>Enroll <br>Fingerprint</h3>
          <p></p>
        </div>
        <div class="icon">
          <i class="ion ion-android-add text-light"></i>
        </div>
        <a href="/enrollf" class="small-box-footer" data-toggle="modal" data-target="#modalenroll">Create <i class="fas fa-arrow-circle-right"></i></a>
      </div>
  </div><br>
  <div id="modalenroll" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title-center">Letakkan jari pada sensor fingerprint</h4>
                                </div>
                                <div class="modal-body">
                                    <center>
                                    <img src="../static/dist/img/fingerprint.png" width="50%" height="50%">
                                    <h2>Enroll Fingerprint</h2>
                                    <p>{% for mesg in get_flashed_messages() %}
                                    <h4>{{ mesg }}</h4>
                                    {% endfor %}</p>
                                        </center>
                                    <div class="modal-footer">
                                    <form action="/enrollf">
                                    <button type="submit" class="btn btn-primary">Scan Now</button>
                                        <!--<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->
                                    <form>
                                    </div>
                                </div>
                            </div>
                        </div>
                       </div>

  <div class="col">
    <div class="small-box bg-primary">
        <div class="inner">
          <h3>Delete <br>Fingerpint</h3>
          <p></p>
        </div>
        <div class="icon">
          <i class="ion ion-android-delete text-light"></i>
        </div>
        <a href="/del" class="small-box-footer"> Delete <i class="fas fa-arrow-circle-right"></i></a>
      </div>
  </div><br>

 

</div>
  
</div>
</div>

{% block chart %} {% endblock %}
  {% endblock %}
